//Font
$mainFont:          'DIN Pro Regular';
$secondFont:        'Roboto', sans-serif;
$thirdFont:         'Gilroy Bold';

//Size

$mainFontSize:      16px;
$mainFontWeight:    400;
$mainLineHeight:    1.4;

$desktopWidth:      1279px;
$smdesktopWidth:    1124px;
$lgtableWidth:      1080px;
$tableWidth:        868px;
$phoneWidth:        580px;
$smphoneWidth:      420px;

//Colors
$mainFontColor:     #000;
$secondFontColor:   #F47821;
$invertFontColor:   #fff;
$htmlBgColor:       #E5E5E5;
$bodyBgColor:       #fff;
$divBgColor:        #F7F5FA;
$formBgColor:       #161616;
$spanBorderColor:   #4d4d4d;
$btnColor:          #f9f9f9;